Flask==3.0.2
flask_cors==4.0.0
lightgbm==4.3.0
nltk==3.8.1
numpy==1.26.4
pandas==2.2.0 
python-terrier==0.10.0
Requests==2.31.0
sentence_transformers==2.3.1
streamlit==1.31.1
torch==2.2.0
tqdm==4.66.2
