body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FCECE1;
    color: #333; /* Change text color to a dark color for better visibility */
    margin: 0;
    padding: 0;
}

#app {
    max-width: 800px;
    margin: 50px auto;
    background-color: #FCECE1;
    padding: 20px;
}

#searchContainer {
    display: flex;
    align-items: center;
}

#searchInput {
    flex: 1;
    width: calc(70% - 20px); /* Adjust width and consider border width */
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    border-radius: 12px;
    border: 3px solid #619ac3;
    outline: none; /* Remove the blue outline on focus */
    transition: border-color 0.3s; /* Add transition for smoother effect */
}

#searchInput:focus {
    border-color: #619ac3; /* Change border color on focus */
}

button {
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    background-color: #619ac3;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 20px; /* Add margin to separate button from search box */
}

#movieList {
    margin-top: 20px;
}

.movie {
    border: 1px solid #619ac3;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #619ac3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie a {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; /* Center the movie title */
    display: block; /* Ensure the element is treated as a block-level element */
    width: 50%; /* Specify the width if needed */
    margin: 0 auto; /* Center horizontally */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.movie a:hover {
    color: #fcd217; /* Change the color on hover */
}

.movie p {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-align: center; /* Center the synopsis */
}
